
.App-header{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
header h1{
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
}
form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}
form input{
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
}
input:focus{
  outline: none;
}
button{
  border: none;
  background-color: #fff;
}
form button i{
  font-size: 2rem;
  color: #795f09;
  cursor: pointer;
}
.todo-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
ul{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
ul li{
  text-align: left;
  padding: .5rem 1rem;
  color: #fff;
  background-color: rgb(212, 178, 64);
  list-style: none;
  font-size: 2.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
li button{
background-color: rgb(192, 55, 31);
  border: none;
  margin-left: 1rem;
  padding: 
  .6rem .5rem ;
  cursor: pointer;

}