@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}
body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #795f09 0%,#795f09 30%,#795f09 57%,#686f2b 100%,#00d4ff 100%);
}
